@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
.shade {
  filter: drop-shadow(6px 6px 9px skyblue);
}

@keyframes pulsee {
  50% {
      opacity: .96;
  }
}
.animate-pulsee {
  animation: pulsee 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
